<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dream.universe.member.dao.MemberMapper">

    <select id="doubleCheckEmail" resultType="MemberDTO">
        SELECT
            MEMBER_CODE
             , MEMBER_EMAIL
             , MEMBER_PASSWORD
             , MEMBER_NAME
             , MEMBER_PHONE
             , MEMBER_CAP
             , MEMBER_CHERRY
             , MEMBER_NICKNAME
             , MEMBER_ROLE
             , MEMBER_MAJOR
             , MEMBER_WITHDRAWAL
        FROM TB_MEMBER
        WHERE MEMBER_WITHDRAWAL = 'N'
        AND MEMBER_EMAIL = #{ memberEmail }
    </select>

    <select id="doubleCheckNickName" resultType="MemberDTO">
        SELECT
            MEMBER_CODE
             , MEMBER_EMAIL
             , MEMBER_PASSWORD
             , MEMBER_NAME
             , MEMBER_PHONE
             , MEMBER_CAP
             , MEMBER_CHERRY
             , MEMBER_NICKNAME
             , MEMBER_ROLE
             , MEMBER_MAJOR
             , MEMBER_WITHDRAWAL
        FROM TB_MEMBER
        WHERE MEMBER_WITHDRAWAL = 'N'
        AND MEMBER_NICKNAME = #{ memberNickName }
    </select>

    <select id="findByMemberId" resultType="MemberDTO">
        SELECT
            MEMBER_CODE
             , MEMBER_EMAIL
             , MEMBER_PASSWORD
             , MEMBER_NAME
             , MEMBER_PHONE
             , MEMBER_CAP
             , MEMBER_CHERRY
             , MEMBER_NICKNAME
             , MEMBER_ROLE
             , MEMBER_MAJOR
             , MEMBER_WITHDRAWAL
        FROM TB_MEMBER
        WHERE MEMBER_WITHDRAWAL = 'N'
        AND MEMBER_EMAIL = #{ memberEmail }
    </select>

    <select id="findById" resultType="MemberDTO">
        SELECT
            MEMBER_CODE
             , MEMBER_EMAIL
             , MEMBER_PASSWORD
             , MEMBER_NAME
             , MEMBER_PHONE
             , MEMBER_CAP
             , MEMBER_CHERRY
             , MEMBER_NICKNAME
             , MEMBER_ROLE
             , MEMBER_MAJOR
             , MEMBER_WITHDRAWAL
        FROM TB_MEMBER
        WHERE MEMBER_WITHDRAWAL = 'N'
        AND MEMBER_EMAIL = #{ memberEmail }
    </select>

    <select id="findId" resultType="MemberInfoDTO">
        SELECT
            A.MEMBER_CODE
             , MEMBER_EMAIL
             , MEMBER_PASSWORD
             , MEMBER_NAME
             , MEMBER_PHONE
             , MEMBER_CAP
             , MEMBER_CHERRY
             , MEMBER_NICKNAME
             , MEMBER_ROLE
             , MEMBER_WITHDRAWAL
             , MEMBER_MAJOR
             , MAJOR_CONCENTRATION
             , MAJOR_KEYWORD
             , MAJOR_SPECIALTY
             , MAJOR_HOPE_PATH
             , ITEM_HAIR_CODE
             , ITEM_FACE_CODE
             , ITEM_CLOTH_CODE
        FROM TB_MEMBER A, TB_MAJOR B, TB_ITEM C
        WHERE A.MEMBER_WITHDRAWAL = 'N'
          AND A.MEMBER_CODE=B.MEMBER_CODE
          AND B.MEMBER_CODE=C.MEMBER_CODE
          AND A.MEMBER_CODE = #{ memberCode }
    </select>

    <insert id="insertMember" parameterType="MemberDTO">
    INSERT INTO TB_MEMBER
    (
    MEMBER_CODE , MEMBER_EMAIL , MEMBER_PASSWORD ,
    MEMBER_NAME ,MEMBER_PHONE , MEMBER_CAP ,
    MEMBER_CHERRY , MEMBER_NICKNAME ,  MEMBER_ROLE,
    MEMBER_MAJOR, MEMBER_WITHDRAWAL
    )
    VALUES
    (
    SEQ_TB_MEMBER_CODE.NEXTVAL
    , #{ memberEmail }
    , #{ memberPassword }
    , #{ memberName }
    , #{ memberPhone }
    , 0
    , 0
    , #{ memberEmail }
    , 'USER'
    , #{ memberMajor }
    , 'N'
    )
    </insert>

    <insert id="insertMajor" parameterType="MajorDTO">
    INSERT INTO TB_MAJOR
    (
        MEMBER_CODE,MAJOR,MAJOR_CONCENTRATION,
        MAJOR_KEYWORD,MAJOR_SPECIALTY,MAJOR_HOPE_PATH
    )
    VALUES
    (
    SEQ_TB_MEMBER_CODE.CURRVAL
    , #{ major }
    , ''
    , ''
    , ''
    , ''
    )
    </insert>

    <insert id="insertItem" parameterType="ItemDTO">
    INSERT INTO TB_ITEM
    (
        MEMBER_CODE,ITEM_HAIR_CODE,ITEM_FACE_CODE,
        ITEM_CLOTH_CODE
    )
    VALUES
    (
    SEQ_TB_MEMBER_CODE.CURRVAL
    , 0
    , 0
    , 0
    )
    </insert>

    <update id="updateMember">
        UPDATE
            TB_MEMBER A
        SET A.MEMBER_PASSWORD = #{ memberPassword }
          , A.MEMBER_PHONE = #{  memberPhone  }
          , A.MEMBER_NICKNAME = #{ memberNickName }
        WHERE MEMBER_WITHDRAWAL = 'N'
          AND MEMBER_EMAIL = #{ memberEmail }
    </update>

    <update id="updateCherry">
        UPDATE
            TB_MEMBER A
        SET A.MEMBER_CHERRY = MEMBER_CHERRY + #{ memberCherry }
        WHERE MEMBER_WITHDRAWAL = 'N'
          AND MEMBER_EMAIL = #{ memberEmail }
    </update>

    <update id="updateCap">
        UPDATE
            TB_MEMBER A
        SET A.MEMBER_CAP = MEMBER_CAP + #{ memberCap }
        WHERE MEMBER_WITHDRAWAL = 'N'
          AND MEMBER_EMAIL = #{ memberEmail }
    </update>

    <update id="updateMajor">
        UPDATE
            TB_MAJOR A
        SET A.MAJOR_CONCENTRATION = #{ majorConcentration }
          , A.MAJOR_KEYWORD = #{ majorKeyword }
          , A.MAJOR_SPECIALTY = #{ majorSpecialty }
          , A.MAJOR_HOPE_PATH = #{ majorHopePath }
        WHERE MEMBER_CODE = #{ memberCode }
    </update>

    <update id="updateItem">
        UPDATE
            TB_ITEM A
        SET A.ITEM_HAIR_CODE = #{ itemHairCode }
          , A.ITEM_FACE_CODE = #{ itemFaceCode }
          , A.ITEM_CLOTH_CODE = #{ itemClothCode }
        WHERE MEMBER_CODE = #{ memberCode }
    </update>


    <update id="deleteMember">
        UPDATE
            TB_MEMBER A
        SET A.MEMBER_WITHDRAWAL = 'Y'
        WHERE MEMBER_WITHDRAWAL = 'N'
          AND MEMBER_EMAIL = #{ memberEmail }
    </update>

    <select id="findMajorByCode" resultType="MajorDTO">
        SELECT
            MEMBER_CODE
             , MAJOR
             , MAJOR_CONCENTRATION
             , MAJOR_KEYWORD
             , MAJOR_SPECIALTY
             , MAJOR_HOPE_PATH
        FROM TB_MAJOR
        WHERE MEMBER_CODE = #{ memberCode }
    </select>

    <select id="findItemByCode" resultType="ItemDTO">
        SELECT
            MEMBER_CODE
             , ITEM_HAIR_CODE
             , ITEM_FACE_CODE
             , ITEM_CLOTH_CODE
        FROM TB_ITEM
        WHERE MEMBER_CODE = #{ memberCode }
    </select>
</mapper>


